<%- include('partials/header.html') %>
        <section class="noticia-destaque">
            <div class="center">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>
                    <div class="title-destaque-descricao">
                        <a href="/slug-aqui"></a><h2>Como a programação pode mudar a sua vida?</h2>
                        <p>Programação é o processo de escrita, teste e manutenção de um programa de computador. O programa é escrito em uma linguagem de programação, embora seja possível, com alguma dificuldade, o escrever diretamente em linguagem de máquina. Diferentes partes de um programa podem ser escritas em diferentes linguagens</p>
                    </div>
                    <img src="/public/images/teste2.jpg" />
                </div>
            </div>
        </section>
        <section class="outras-noticias">
            <div class="title-outras-noticia">
                <h2>Últimas Noticias</h2>
                <br><br>
                <div class="center">
                    <div class="ultimas">
                        <div class="box-ultima-single">
                            <img src="/public/images/banco.png"/>
                            <div class="conteudo-noticia-single">
                                <h3>Banco de Dados</h3>
                                <h2>Como funciona um Banco de dados</h2>
                                <p>O banco de dados é a organização e armazenagem de informações sobre um domínio específico. De forma mais simples, é o agrupamento de dados que tratam do mesmo assunto</p>
                                 <a href="/encarar-o-surf">Saiba Mais</a>
                            </div>
                        </div>
                        <div class="box-ultima-single">
                            <img src="/public/images/teste.jpg"/>
                            <div class="conteudo-noticia-single">
                            <h3>Programação</h3>
                            <h2>Como se tornar um Full-Stack</h2>
                            <p>Como sua própria denominação indica, o desenvolvedor full stack é o profissional habilitado para compreender e operar em todas as camadas do desenvolvimento de um projeto</p>
                            <a href="/encarar-o-surf">Saiba Mais</a>
                        </div>
                     </div>
                        <div class="box-ultima-single">
                            <img src="/public/images/mobile.png"/>
                            <div class="conteudo-noticia-single">
                            <h3>Programação Mobile</h3>
                            <h2>React Native ou Flutter?</h2>
                            <p>Flutter é construído sobre a linguagem Dart , que também foi feita pelo Google. 
                            O React Native, por outro lado, usa JavaScript como linguagem base . Ao longo dos anos, o JavaScript ganhou imensa popularidade devido à sua fácil curva de aprendizado e uso generalizado. </p>
                            <a href="/encarar-o-surf">Saiba Mais</a>
                            </div>
                        </div>
                        <div class="box-ultima-single">
                            <img src="/public/images/web.jpg"/>
                            <div class="conteudo-noticia-single">
                            <h3>Front-End</h3>
                            <h2>O básico que você preicsa para ser um Front-End qualificado</h2>
                            <p>É o desenvolvimento da interface gráfica do usuário de um site, através do uso de HTML, CSS e JavaScript, para que os usuários possam visualizar e interagir com esse site </p>
                                 <a href="/encarar-o-surf">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                    <!--Mais lidas-->
                    <div class="mais-lidas">
                        <h3>Mais lidas</h3>
                        <div class="mais-lidas-noticias">
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/ruby.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>Ruby</h4>
                                    <p>O que é o Ruby? Como funciona? Aonde aplica-la? </p>
                                    <a href="/encarar-o-surf">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/node.jpg" />
                                <div class="texto-mais-lida-single">
                                    <h4>Node.JS</h4>
                                    <p>O famoso Node.JS, quer saber como utilizalo? Clique Logo Abaixo! </p>
                                    <a href="/partials/node.html">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/delphi.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>Delphi</h4>
                                    <p>A linguagem dos queridinhos no POO, saiba mais logo Abaixo! </p>
                                    <a href="/encarar-o-surf">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/go.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>GO</h4>
                                    <p>A tecnologia que chegou para mudar os paradigmas, GO! </p>
                                    <a href="/encarar-o-surf">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/react.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>React</h4>
                                    <p>O framework do momento, desenvolvido pelo renomeado Facebook! </p>
                                    <a href="/encarar-o-surf">Saiba Mais</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer.html') %>
</body>
</html>